.container .xAxis text {
  font-size: 8px;
}

.container .line path {
  fill: transparent;
  stroke-width: 0;
}

.container .scatter circle {
  fill: #5c6bc0;
  stroke: #fafafa;
  stroke-width: 2;
}

.container .gridlines {
  stroke: lightgrey;
  opacity: 0.7;
  stroke-width: 1;
}
